<div class="modal-body">
  <div class="form-group">
    <label for="projectName">Podaj nazwę dla nowego projektu</label>
    <input ng-model= "projectName" id="user" name="projectName" class="form-control input-default" placeholder="na przykład Dom, Praca lub... Lot na księżyc" value="{{projectName}}">
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Stwórz</button>
  <button class="btn btn-default" type="button" ng-click="cancel()">Anuluj</button>
</div>
