<!DOCTYPE html>
<html ng-app="Index">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cache-control" content="no-cache" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" type="image/png" sizes="16x16" href="/res/todo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/todo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/res/todo_64.png">    

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/checkboxes-nojs.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-animate.js"></script>
    <script src="../libs/angular-linkify.min.js "></script>    
    <script src="../libs/ui-bootstrap-tpls-1.2.1.min.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/todo.js"></script>
  </head>
  <body ng-controller="Notes">
    <div class="application-header">
	    <div class="container">
        <button class="glyphicon glyphicon-option-horizontal options-menu"></button>
        <span class="menu-items">
          <a ng-click="refresh()" class="glyphicon glyphicon-repeat utilities" href="javascript:void(0)"></a>
		      <a ng-click="deleteAllItems()" class="message-removeall glyphicon glyphicon-trash utilities" href="javascript:void(0)"></a>
		      <% if (locals.downloadLink) { %>
		        <a class="glyphicon glyphicon-download-alt utilities" href="<%= downloadLink %>"></a>
		      <% } %>
        </span>	      
	      <span class="pull-right">
	        <span class="user" data-toggle="tooltip" data-placement="bottom" title="Witaj <%= username %>!"><%= username %></span>
		      <% if (locals.desktopClient == false) { %>
		        <a class="glyphicon glyphicon-log-out utilities-user" data-toggle="tooltip" data-placement="bottom" title="Kliknij aby się wylogować" href="/logoff"></a>
		      <% } %>
		    </span>
	      <form ng-submit="createNote(noteText)" id="message-create" class="message-form">
	        <input ng-model="noteText" ng-change="filterItems()" ng-trim="false" id="message-create-text" type="text" name="message" class="form-control input-default" placeholder="Zanotujmy coś..." autofocus>
	      </form>
	    </div>
		</div>

    <div class="container application-list">
      <ul class="list-group">
        <li ng-repeat="note in data.notes" ng-class="note.pinned ? 'message-pinned' : (note.checked ? 'message-checked' : '')" id="{{note._id}}" class="list-group-item">
          <div class="message-header">
            <span class="message-header-left">
              <button ng-click="toggleItem(note)" ng-class="note.checked ? 'glyphicon-check' : 'glyphicon-unchecked'" class="message-header-icon glyphicon"></button>
              <span class="message-time">{{note.timestamp}}</span>
              <button ng-click="pinItem(note)" ng-class="note.pinned ? 'icon-rotate' : ''" class="message-header-icon glyphicon glyphicon-pushpin"></button>
            </span>
            <span class="message-header-right">
              <button ng-show="!note.editMode" ng-click="deleteItem(note)" class="message-header-icon-right glyphicon glyphicon-trash"></button>
              <button ng-show="note.editMode" ng-click="cancelChanges(null, note)" class="note-edit-cancel glyphicon glyphicon-remove-sign"></button> 
              <button ng-show="note.editMode" ng-disabled="!note.modified" ng-click="acceptChanges(note)" ng-class="note.modified ? 'note-edit-accept' : 'note-edit-accept-disabled'" class="glyphicon glyphicon-ok-sign"></button> 
            </span>  
          </div>
          <div ng-show="!note.editMode" ng-click="enterModifyMode(note)" class="note-text" linkify>{{note.text}}</div>
          <form ng-show="note.editMode" ng-keyup="cancelModifyMode($event, note)" class="form-inline">
            <textarea ng-model="note.text" ng-change="noteTextChanged(note)" ng-trim="false" class="form-control input-default note-edit-input" focus="note.editMode"></textarea>
          </form>
          <div class="note-tags">
            <div ng-repeat="tag in (note.newTags || note.tags) track by $index" ng-click="!note.editMode && setTag(tag)" ng-class="note.editMode ? ' note-tag-inactive' : 'note-tag-active'" class="label label-primary">{{tag}}<span ng-show="note.editMode" ng-click="deleteTag(note, tag)" class="note-tag-remove"><strong>x</strong></span></div>
          </div>
        </li>
      </ul> 
    </div>
  </body>
</html>
