<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/landing.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" sizes="16x16" href="/res/todo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/todo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/res/todo_64.png">    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../scripts/landing.js"></script>
  </head>
  <body>
    <div class="application-header"></div>
    <div class="container">
      <div class="welcome-container">
        <p class="welcome-message">Pamietaj o wszystkim, wszędzie <span class="glyphicon glyphicon-check"></span></p>
        <div>
          <div class="centered">
            <button onclick="location.href='/login'" class="menu-button btn btn-primary">Zaloguj się</button>
          </div>
          <div class="centered">lub</div>
          <div class="centered">
            <a href="/register">Zarejestruj się</a>
          </div>
        </div>
        <p class="welcome-description"> 
          Masz dostęp do swoich zadań z dowolnego miejsca i na dowolnym urządzeniu.
        </p>
        <p class="welcome-description"> 
          Porządkuj swoje notatki za pomocą tagów. Dodaj #dom aby zgrupować swoje domowe zadania.
        </p>
        <div class="welcome-actions">    
          <% if (locals.downloadLink) { %>
            <button onclick="location.href='<%= downloadLink %>'" class="btn btn-warning">Pobierz aplikacje</button>
          <% } %>
        </div>
      </div>
    </div>
 </body>
</html>