<!DOCTYPE html>
<html ng-app="Index">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/credentials.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" type="image/png" sizes="16x16" href="/res/todo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/todo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/res/todo_64.png">    
    
    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-animate.js"></script>
    <script src="../libs/ui-bootstrap-tpls-1.2.1.min.js"></script>  
    
    <script src="../scripts/project-app.js"></script>
    <script src="../scripts/google-analytics.js"></script>

  </head>
  <body ng-controller="Project">
    <div class="application-header">
      <%- include partials/header.ejs %>
    </div>
    <div class="container">
      <form class="form-inline">
        <label>Project name</label>
        <input class="form-control" ng-model="project.name" type="text" ng-change="projectChanged()" placeholder="Enter project name">
        <button class="form-control" ng-click="deleteProject()">Delete</button>
      </form>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in project.users">
          <form class="form-inline">
            <span>
              {{user.name}}
            </span>
            <span>
              <div class="dropdown" style="display: inline-block;">
                <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{user.role}}</button>
                <ul class="dropdown-menu scrollable-menu">
                  <li><a href="javascript:void(0)" ng-click="">owner</a></li>
                  <li><a href="javascript:void(0)" ng-click="">read-write</a></li>
                  <li><a href="javascript:void(0)" ng-click="">read-only</a></li>
                </ul>
              </div>
            </span>
            <span>
              <button class="form-control" ng-model="user" ng-click="removeUser(user)">Remove</button>
            </span>
          </form>
        </li>
        <li class="list-group-item">
          <form class="form-inline">
            <input class="form-control input-default" type="text" ng-model="user.name" placeholder="Enter user name">
            <span >
              <div class="dropdown" style="display: inline-block;">
                <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{user.role}}</button>
                <ul class="dropdown-menu scrollable-menu">
                  <li><a href="javascript:void(0)" ng-click="setUserRole('owner')">owner</a></li>
                  <li><a href="javascript:void(0)" ng-click="setUserRole('read-write')">read-write</a></li>
                  <li><a href="javascript:void(0)" ng-click="setUserRole('read-only')">read-only</a></li>
                </ul>
              </div>
            </span>
            <button class="form-control" ng-disabled="user.name.length == 0" ng-click="addUser()">Add</button>
          </form>
        </li>
      </ul>
    </div>
  </body>
</html>