<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  </head>
  <body class="container">
    <form action="/register" method="post" class="message-form col-xs-6 col-xs-offset-3">
      <div class="form-group">
        <label for="user">Nazwa użytkownika</label>
        <input name="user" class="form-control input-default" value="<%= user %>">
      </div>
      <div class="form-group">
        <label for="pwd">Hasło</label>
        <input type="password" name="pwd" class="form-control input-default" placeholder="hasło">
      </div>
      <div class="form-group">
        <input type="password" name="re-pwd" class="form-control input-default" placeholder="powtórz hasło">
        <% if (error !== undefined) { %>
          <text><%= error %></text>
        <% } %>
      </div>
      <button type="submit" class="btn btn-default">Zarejestruj</button>
    </form>
  </body>
</html>