<html>
	<h1><%= title %></h1>
	<p>
	 <form action="\add" method="post">
	 	<input type="text" name="message">
	 	<button type="submit" value="add">Dodaj</button>
	 </form>
	</p>
	<form action="\clear" method="post">
		<button type="submit" value="clear">Wyczyść listę</button>
	</form>
    <p>
	    <ul>
	    	<% for(var i=messages.length-1; i>=0; i--) { %>
	    		<li>
	    	    	<form acton="\remove" method="post">
	    				<%= messages[i].text %>
	    				<!-- <input type="submit" text="usuń"> -->
	    			</form>
	    		</li>
	    	<% } %>
	    </ul> 
    </p>
</html>