<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- CSS (load bootstrap from a CDN) -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/main.css">

	</head>
	<body class="container">
		<form action="\clear" method="post" class="text-right">
			<% if (messages.length != 0) { %>
				<button type="submit" value="clear" class="clear-button btn btn-danger btn-sm">Wyczyść listę</button>
			<% } else { %>
				<button type="submit" value="clear" class="clear-button btn btn-danger btn-sm disabled">Wyczyść listę</button>
			<% } %>
		</form>

		<h2 class="text-center"><%= title %><span class="items-counter badge"><%= messages.length %></span></h2>
		<form action="/add" method="post" class="message-form">
				<input type="text" name="message" class="form-control input-default" placeholder="Wpisz cokolwiek..." autofocus>
				<!-- <button type="submit" class="btn btn-default">Dodaj</button> -->
		</form>

	    <ul class="list-group">
	    	<% messages.reverse().forEach(function(msg) { %>
	    		<% include partials/message %>
	    	<% }) %>
	    </ul> 
	    <footer>
	        <% include partials/footer %>
	    </footer>    
    </body>
</html>