body { padding-top: 10px; }
.tool-box
{
    right: 0px;
	margin: 20px 0px 20px 0px; 
}

.user
{
	margin-top:10px;
	font-size: 1.5em;
}

.items-counter
{
	margin-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.message-form
{
	margin: 10px 0px 20px 0px;
}

.message-delete
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.toolbox
{
	background-color: rgb(250, 250, 250);
	height: 500px;
}
	
.utilities
{
	margin-left: 20px;
	text-decoration: none;
}	    

.utilities:hover
{
	text-decoration: none;
}	    

.label-as-badge {
    border-radius: 1em;
}