body 
{ 
}

.user
{
	color: rgb(132, 132, 175);
	font-weight: bold;
}

.items-counter
{
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.checkbox
{
	padding-top: 0px;
	margin-top: 0px;
	width:20px;
	display: inline-block;
}

.message-main
{
	padding-left: 5px;
	width: 90%;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	display:inline-block;
}

.message-text
{
	font-size: 1.0em;
}

.message-form
{
	margin: 10px 0px 20px 0px;
}

.message-delete
{
	opacity: 0.45;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    padding:0px;
    margin:0px;
}

.message-delete:hover
{
	opacity: 1.0;
}

.message-toggle
{
	background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    outline:none;
	border: none;
	display:inline;
    padding:0px;
    margin:0px;
}

.message-time
{
	color: rgb(162, 162, 205);
	width: 100px;
	font-size: 0.70em;
}

.message-status
{
	margin-top: 0.15em;
	float:left;
}

.message-tools
{
	margin-top: 0.15em;
	float:right;
}

.toolbox-menu
{
}

.toolbox
{
	display:inline-block;
	color: rgba(192, 192, 235);
	width: 20px;
	height: 15px;
	overflow: hidden;
}

.toolbox-full
{
	width: 120px;
	height: 15px;
	overflow: visible;
}

.utilities-user
{
	opacity: 0.75;
	margin-left: 10px;
	text-decoration: none;
}	    

.utilities-user:hover
{
	opacity: 1.0;
	text-decoration: none;
}	    

.utilities
{
	opacity: 0.75;
	margin-right: 10px;
	text-decoration: none;
}	    

.utilities:hover
{
	opacity: 1.0;
	text-decoration: none;
}	    

.utilities:visited
{
	text-decoration: none;
}	    

.label-as-badge 
{
    border-radius: 1em;
}

.list-group-item
{
	padding: 10px ;
}

.application-header
{
    background: linear-gradient(rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0));
    position:fixed;
    top: 0em;
    width:100%;
    z-index:100;
    padding-top: 1em;
    padding-bottom: 0;
}
