body 
{ 
	margin-top: 75px; 
}

label
{
	color: gray;
	/*font-weight: normal;*/
}

.container
{
	width: 300px;
}

.error
{
	color: red;
}

.user-register
{
	display:inline-block;
	margin-top:10px;
}

.user-register:hover
{
	text-decoration: none;
}

.logo
{
    position:fixed;
    top: 0em;
    width: 100%;
	height: 100%;
    z-index: -1;

	opacity:0.1;
	background-image: url("/res/todo_64_no_corners.png");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
