body { padding-top: 10px; }
.tool-box
{
    right: 0px;
	margin: 20px 0px 20px 0px; 
}

.user
{
	margin-top:10px;
	font-size: 1.5em;
}

.items-counter
{
	margin-left: 10px;
	margin-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
}

.message-form
{
	margin: 10px 0px 20px 0px;
}

.message-delete
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.toolbox
{
	background-color: rgb(250, 250, 250);
	height: 500px;
}
	
.logoff
{
	padding-top: 15px;
	margin-right: 5px;
}	    
