.application-header
{
	text-align: left;
	padding: 5px;
	background-image: url("/res/todo_256_no_corners.png");
	background-position: center;
	background-size: 64px 64px;
	height:64px;
	background-repeat: no-repeat;
	background-color: rgb(0, 148, 255) 
}

@media(max-width:640px){
	.application-header {
		background-position: left;
	}
	
	.locale-button
	{
		font-size: small;
		padding-top: 10px;
	}
}
