body {
	padding-right:0px !important;
	margin-right:10px !important;
	margin-left:10px !important;
}

.user
{
	color: rgb(132, 132, 175);
}

.items-counter
{
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.checkbox
{
	padding-top: 0px;
	margin-top: 0px;
	width:20px;
	display: inline-block;
}

.note-tags 
{
	margin-top: 0.5em;
	width:100%;
}

.note-tag-inactive
{
 	margin-right: 0.35em;
 	display: inline-block;
 	cursor: default;	 	
}

.note-tag-filter
{
 	margin-right: 0.35em;
 	cursor: default;
 	font-size: smaller;
}

.note-tag-active 
{
 	margin-right: 0.35em;
 	display: inline-block;
 	cursor: pointer;	
}

.note-tag-remove
{
	padding-left: 7px; 
 	cursor: pointer;	
}

.note-edit-form
{
	margin-top: 0.4em;	
}

.note-edit
{
	background-color: rgb(255,255,255);
	border: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,0);
	padding: 5px;
}

.note-text, .note-text-pinned
{
	margin-top: 0.5em;
	font-size: 1.0em;
	overflow:hidden;
	cursor: pointer;
}

.note-text-pinned
{
}

.message-form
{
	margin: 10px 0px 10px 0px;
}

.glyph-button, .note-header-icon, .note-edit-accept, .note-edit-cancel, .note-edit-accept-disabled, .note-edit-cancel-disabled
{
	opacity: 0.45;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    padding:0px;
    margin:0px;
    height: 17px;
}

.note-header-icon, .note-edit-accept, .note-edit-cancel, .note-edit-accept-disabled, .note-edit-cancel-disabled
{
    margin-left: 7px;
}

.glyph-menu-button
{
	opacity: 0.45;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    padding:0px;
    margin:0px;
    font-size: small;
	margin-right: 5px;
}

.note-edit-accept
{
	color:rgba(0,128,0,1.0);
	float:right;
}

.note-edit-cancel
{
	color:rgba(128,0,0,1.0);
	float: right;
}

.note-edit-accept-disabled
{
	color:rgba(128,128,128,1.0);
	float:right;
}

.note-edit-input
{
	margin-top: 5px;
	display: inline-block;
/*	background-color: rgb(255,0,0);
	border:0px;
	border-style: none;
	margin-top:5px;
*/
	min-width: calc(100% - 0px);
	max-width: calc(100% - 0px);
}
.message-checked
{
	background-color: rgb(236, 256, 236);	
}

.message-pinned
{
	background-color: rgb(256, 256, 226);
}

.message-header-right
{
	float:right;
}

.message-delete:hover
{
	opacity: 1.0;
}

.icon-rotate
{
	/*transform: rotate(-45deg);*/
	color: rgb(0, 0, 0);
	opacity: 1.0;
}

.message-time
{
	color: rgba(162, 162, 205, 0.75);
	width: 100px;
	font-size: 0.75em;
	cursor: default;
}

.message-status
{
	margin-top: 0.0em;
}

.options-menu
{
	opacity: 0.75;
	margin-right: 10px;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    padding:0px;
    margin:0px;
    margin-right: 10px;
}

.menu-items
{
	color: rgba(192, 192, 235);
}

.user-logout
{
	opacity: 0.75;
	margin-left: 7px;
	text-decoration: none;
}	    

.user-logout:hover
{
	opacity: 1.0;
	text-decoration: none;
}	    

.utilities
{
	opacity: 0.75;
	margin-right: 10px;
	text-decoration: none;
}	    

.utilities:hover
{
	opacity: 1.0;
	text-decoration: none;
}	    

.utilities:visited
{
	text-decoration: none;
}	    

.label-as-badge 
{
    border-radius: 1em;
}

.list-group-item
{
	padding: 10px ;
}

.application-header
{
    background: linear-gradient(rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0));
    position:fixed;
    top: 0em;
    width: calc(100% - 20px);
    z-index:100;
    padding-top: 1em;
    padding-bottom: 1em;
}

.application-list
{
	margin-top: 50px;
}

/* bootstrap ui override */
.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
}
.modal-header:before,
.modal-header:after {
    display: table;
}