<div class="container">
  <div class="btn-group pull-right" style="padding-top:10px;">
    <button type="button" class="locale-button btn btn-link dropdown-toggle" data-toggle="dropdown" style="text-decoration: none; padding-right: 0px; color:white">
      <span class="glyphicon glyphicon-globe"></span>&nbsp<%= language %>&nbsp<span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <ul class="dropdown-menu-right dropdown-menu scrollable-menu">
      <li><a class="locale dropdown-item" href="" data-locale="en-US">English (United States)</a></li>
      <li><a class="locale dropdown-item" href="" data-locale="pl-PL">Polski</a></li>
    </ul>
  </div>
</div>