<!-- expected msg object -->
<li class="list-group-item">
	<!-- <form acton="\remove" method="post"> -->
	<span>
		<%= msg.text %>
	</span>
	<!-- </form> -->
    <a href="#" class="pull-right">
      <!-- <span class="glyphicon glyphicon-remove"></span> -->
    </a>
</li>
